@layer components {
  .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    border: 1px solid transparent;
    border-radius: 0.25em;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    white-space: nowrap;
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    padding-inline: 0.75rem;
    block-size: 2.25rem;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

    & svg {
      opacity: 0.5;
    }

    &:focus-visible {
      outline: 2px solid var(--color-brand-500);
      outline-offset: 2px;
    }

    &[disabled] {
      cursor: not-allowed;
    }

    &.-primary {
      --text-color: var(--color-white);
      --background-color: var(--color-brand-600);
      --border-color: var(--color-brand-700);

      &:hover {
        --background-color: var(--color-brand-700);
        --border-color: var(--color-brand-800);
      }

      &[disabled] {
        --background-color: var(--color-neutral-100);
        --border-color: var(--color-neutral-200);
        --text-color: var(--color-neutral-500);
      }
    }

    &.-secondary {
      --text-color: var(--color-neutral-800);
      --background-color: var(--color-white);
      --border-color: var(--color-neutral-300);

      &:hover {
        --background-color: var(--color-neutral-50);
        --border-color: var(--color-neutral-400);
      }

      &[disabled] {
        --background-color: var(--color-white);
        --border-color: var(--color-neutral-200);
        --text-color: var(--color-neutral-400);
      }
    }
  }
}