@layer components {
  .form-group {
    margin-block-end: 1.5rem;
  }

  .form-label {
    display: block;
    font-weight: 500;
    color: var(--color-neutral-800);
    margin-block-end: 0.35rem;
  }

  .form-control {
    display: block;
    inline-size: 100%;
    border: 1px solid var(--color-neutral-300);
    border-radius: 0.25em;
    color: var(--color-neutral-800);
    background-color: var(--color-white);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    padding-inline: 0.75rem;
    block-size: 2.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &::placeholder {
      color: var(--color-neutral-400);
    }

    &:focus-visible {
      outline: none;
      border-color: var(--color-brand-400);
      box-shadow: 0 0 0 1px var(--color-brand-400);
    }
  }

  .form-checkbox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500;
    user-select: none;

    & input[type="checkbox"] {
      inline-size: 1rem;
      block-size: 1rem;
      accent-color: var(--color-brand-600);
      cursor: pointer;
      border: 1px solid var(--color-neutral-300);
      appearance: none;
      margin: unset;
      padding: unset;
      border-radius: 0.25em;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

      &:checked {
        background-color: var(--color-brand-600);
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" fill="none" width="14" height="14"><path d="M11.6666 3.5L5.24992 9.91667L2.33325 7" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>');
        background-size: 12px;
        background-repeat: no-repeat;
        background-position: center;
        border-color: var(--color-brand-600);
      }
      
      &:focus-visible {
        outline: 2px solid var(--color-brand-500);
        outline-offset: 2px;
      }
    }
  }
}
