@layer layout {
  .container {
    inline-size: min(100%, 50rem);
    margin-inline: auto;
    padding-inline: 1rem;
  }

  .app-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    padding-block: 1.5rem;

    & .logo {
      margin-inline-end: auto;
    }

    & .avatar {
      --size: 36px;

      inline-size: var(--size);
      aspect-ratio: 1;
      background-color: var(--color-neutral-100);
      color: var(--color-neutral-600);
      border: 1px solid var(--color-neutral-200);
      display: grid;
      place-items: center;
      border-radius: var(--size);
      transition: background-color .15s ease-in-out;
      anchor-name: --user-menu;

      &:hover {
        background-color: var(--color-neutral-200);
        border-color: var(--color-neutral-300);
      }

      &:focus-visible {
        outline: 2px solid var(--color-brand-500);
        outline-offset: 2px;
      }
    }

    .language-trigger {
      --size: 36px;

      opacity: 0.8;
      display: flex;
      inline-size: var(--size);
      aspect-ratio: 1;
      border-radius: var(--size);
      transition: opacity 0.15s ease-in-out;
      anchor-name: --language-switcher;

      &:hover {
        opacity: 1;
      }
  
      &:focus-visible {
        outline: 2px solid var(--color-brand-500);
        outline-offset: 2px;
      }
    }
  }

  .user-header {
    padding: 0.25rem 1rem;
  }

  .user-name {
    font-weight: 500;
    color: var(--color-neutral-900);
    margin: unset;
  }

  .user-email {
    margin: unset;
    color: var(--color-neutral-600);
  }
}