@layer layout {
  .container {
    inline-size: min(100%, 50rem);
    margin-inline: auto;
    padding-inline: 1rem;
  }

  .app-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: space-between;
    padding-block: 1.5rem;

    & .logo {
      margin-inline-end: auto;
    }

    & :is(.avatar, .language-trigger) {
      --size: 36px;

      inline-size: var(--size);
      aspect-ratio: 1;
      background-color: var(--color-white);
      color: var(--color-neutral-600);
      border: 1px solid var(--color-neutral-200);
      display: grid;
      place-items: center;
      border-radius: var(--size);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
      transition: background-color .15s ease-in-out, border-color .15s ease-in-out;

      &:hover {
        background-color: var(--color-neutral-100);
        border-color: var(--color-neutral-300);
      }

      &:focus-visible {
        outline: 2px solid var(--color-brand-500);
        outline-offset: 2px;
      }
    }

    & .avatar {      
      anchor-name: --user-menu;
    }

    .language-trigger {
      padding: 0.25rem;
      anchor-name: --language-switcher;

      & img {
        inline-size: 100%;
        block-size: 100%;
      }
    }
  }

  .user-header {
    padding: 0.25rem 1rem;
  }

  .user-name {
    font-weight: 500;
    color: var(--color-neutral-900);
    margin: unset;
  }

  .user-email {
    margin: unset;
    color: var(--color-neutral-600);
  }
}