@layer layout {
  .container {
    inline-size: min(100%, 50rem);
    margin-inline: auto;
    padding-inline: 1rem;
  }

  button[title="Add vocabulary"] {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 2;
  }
}