@layer layout {
  .container {
    inline-size: min(100%, 50rem);
    margin-inline: auto;
    padding-inline: 1rem;
  }

  .app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.5rem;

    & .avatar {
      --size: 36px;

      inline-size: var(--size);
      aspect-ratio: 1;
      background-color: var(--color-neutral-100);
      color: var(--color-neutral-600);
      appearance: none;
      padding: unset;
      border: unset;
      margin: unset;
      cursor: pointer;
      display: grid;
      place-items: center;
      border-radius: var(--size);
      transition: background-color .15s ease-in-out;
      anchor-name: --user-menu;

      &:hover {
        background-color: var(--color-neutral-200);
      }

      &:focus-visible {
        outline: 2px solid var(--color-brand-500);
        outline-offset: 2px;
      }
    }
  }

  .user-header {
    padding: 0.25rem 1rem;
  }

  .user-name {
    font-weight: 500;
    color: var(--color-neutral-900);
    margin: unset;
  }

  .user-email {
    margin: unset;
    color: var(--color-neutral-600);
  }

  .language-switcher {
    display: flex;
    align-items: center;
  }

  .language-switcher.no-languages .language-dropdown {
    color: var(--color-neutral-500);
  }

  button[title="Add vocabulary"] {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 2;
  }
}