@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color-scheme: light only;
  }

  body {
    margin: unset;
    line-height: 1.5;
  }

  h1,
  h2,
  h3,
  h4,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  input,
  button,
  textarea,
  select {
    font-family: inherit;
    font-size: inherit;
  }

  button {
    appearance: none;
    background-color: unset;
    padding: unset;
    margin: unset;
    border: none;
    cursor: pointer;

    & svg {
      pointer-events: none;
    }
  }

  :target {
    scroll-margin-block: 5ex;
  }
}