@layer components {
  .progress-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    inline-size: 80%;
    color: var(--color-neutral-600);
    margin: 0 auto 1.5rem auto;
  }

  .training-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .form-group {
      inline-size: 100%;
    }
    
    & label {
      display: block;
      font-size: 28px;
      text-align: center;
      font-weight: 600;
      margin-block: 0 1.5rem;
    }
  }

  .training-result {
    display: flex;
    flex-direction: column;
    align-items: center;

    & p:first-of-type {
      font-size: 18px;
      font-weight: 600;
      margin-block-end: unset;
    }

    & p:last-of-type {
      margin-block: 0.25rem 1rem;
      color: var(--color-neutral-600);
    }
  }

  .training-complete {
    display: flex;
    flex-direction: column;
    align-items: center;

    & p:first-of-type {
      font-size: 18px;
      font-weight: 600;
      margin-block-end: unset;
    }

    & p:last-of-type {
      margin-block: 0.25rem 1rem;
      color: var(--color-neutral-600);
    }
  }
}
